/* ==========================================================================
   Global Overrides
  ========================================================================== */
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

/* ==========================================================================
   Author's custom styles
  ========================================================================== */

/* 
    SITE COLORS:
    White - #ffffff
    Light Grey -
    Dark Grey - #3B3A3A
    Grey/Black(text color) -
    Yellow -
    Red -
*/

/* Global
   ================================================================ */
body {
 font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color:#17202A;
}

a {
  text-decoration: none;
  color:#17202A;
}

a:hover{
  color: #900C3F;
}

.break{
  height: 100px;
}

.border{
    width: 100%;
    height: 0;
    border-top: 1px solid #000;
    margin-bottom: 15px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}

/* Layout
   ================================================================ */
/* Make sure this is here, even though it wasn't implied on the design. This is an opportunity to educate designers on designing for screens. */


/*.Site{
  // width: 60em;
  // margin: 0 auto;
}
*/

.Boundary{
  width: 60em;
  margin: 0 auto;
  position: relative;
}

/* HEADER  ================================================================ */

Header {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 9999;
  border-bottom: 1px solid #000; 
  margin: 0;
  overflow-x: hidden;
}

Header .logo{
  color: #17202A;
  text-decoration: none;
  font-size: 2em;
  margin: 0;
  float: left;
  font-family: 'Playfair Display', serif;
  font-weight:900;
  padding-left: 10px;
}


/*----- MAIN NAV -----*/

.MainNav{
  margin: 0;
  padding-right: 10px;
  float: right;
  overflow: hidden;
}

.MainNav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.MainNav ul li{
  float: left; 
  margin: 0 0 0 0.938em;
  padding: 0;
}

.MainNav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 1em;
  line-height: 3.75em;
  color: #17202A;
}

.MainNav ul li a:hover{
  color: #900C3F;
}

.MainNav img{
  height:1em;
}

.Header a:hover{
  color: #900C3F;
}

/* BANNER  ================================================================ */
.Banner{
  padding: 1.875em 0;
  color: #ffffff;
  background-image: url("../images/jam.jpg");
  background-size: cover;
  opacity: 0.8;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin-top:60px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  clear:both;
  height:550px;
}

.Banner-blurb{
  width: 100%;
  text-align: center;
  height:22.5em;
  padding-top: 5.313em;
  display: inline-block;
  vertical-align: top;
}

.Banner-blurb h1{
  font-family: 'Playfair Display', serif;
  font-weight:900;
  font-size: 3em;
}

.Banner-blurb p{
  font-size: 1em;
}

.Button:hover{
  background: #900C3F;
  color: #ffffff;
  border: solid #900C3F 0.125em;
}

.Button{
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1.250em;
  width: 45%;
  font-weight: bold;
  border: solid #ffffff 0.125em;
  border-radius: 0.625em;
  display: inline-block;
  margin-top:1.250em;
}

/* LATEST POST  ================================================================ */
.LatestPost{
  text-align: center;
  margin-top: 60px;
}

.LatestPostMain{
  text-align: center;
  margin-bottom: 60px;
}

.LatestPostMain .latestimage img{
  width: 70%;
  height: auto;
}

.latest h2{
   font-size: 1em;
   font-weight: 400;
}

.latest p{
  font-size: 0.8em;
  font-weight: 400;
}

.latest .date{
  font-size: 0.6em;
  font-family: 'Playfair Display', serif;
}

/* TOPICS  ================================================================ */

.Topic{
  margin-top: 60px;
  margin-left:10px;
  margin-right: 10px;
}

.topics {
  margin-bottom: 50px;
}

.Topic .first{
  float:left;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
}

.Topic .SeeAll{
  float:right;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.25em;
}

img {
  max-width: 100%;
  height: 200px;
  background-position: 50% 50%;
  overflow: hidden;
}

.clear {
  clear: both;
}

.copy h3{
   font-size: 1em;
   font-weight: 400;
}

.copy p{
  font-size: 0.8em;
  font-weight: 400;
}

.copy .date{
  font-size: 0.6em;
  font-family: 'Playfair Display', serif;
}

@media (min-width: 1024px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }
  .container:after {
    content: "";
    clear: both;
    width: 100%;
  }

  .col4 {
    width: 300px;
    float: left;
    margin: 0 10px;
  }

  .image {
    text-align: center;
  }
}


/* INSTAGRAM ================================================================ */
.Instagram{
text-align: center;
padding: 1.875em 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* SUBSCRIBE  ================================================================ */

.Banner2{
  padding: 1.875em 0;
  color: #ffffff;
  background-color:#900C3F;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
}

#form1 {
  background: #900C3F;
  color: #FDFCFB;
  text-align: center;
  vertical-align: top;
  width: 600px;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.input {
  display: flex;
  align-items: center;
  padding:15px;
}

.button {
  height: 44px;
  border: none;
}
  
#email {
  width: 75%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}

#submit {
  width: 25%;
  height: 46px;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  
#submit:hover {
  background: #d45d7d;
}
  
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

/* FOOTER  ================================================================ */

footer > p{
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 0.8em;
  line-height: 3.75em;
  color: #17202A;
}

footer a:hover{
  color: #ffffff;
}


/** ABOUT ============================**/

.aboutme {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 30%;
}

.aboutme > h1{
  text-transform: uppercase;
}

.about >p{
  float:left;
}

.aboutme > img{
  float:right;
  margin-left: 10px;
  margin-bottom: 10px;
  position:relative;
}


/** CONTACT ============================**/


.Banner3{
  margin:10%;
}

.Banner3 > h1 {
  text-transform: uppercase;
}

#form2 {
  vertical-align: top;
  width: 80%;
  float:left;
}

.input2{
  font-family: playfair display;
}

.button2 {
  height: 44px;
  border: none;
}
  
#email2 {
  width: 80%;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 2%;
  border-radius: 5px 0 0 5px;
}


#submit2 {
  height: 46px;
  width: 80%;
  background: #E86C8D;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#submit2:hover {
  background: #d45d7d;
}
  
input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

/* SHOP ========== */

.shop {
  margin-top: 100px;
  text-align: center;
}

.shop > h1 {
  clear: both;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
}

.shoptitle {
  font-family: Playfair Display;
}

.shop a:hover{
  color: #900c3f;
}

/* PRODUCT ================================ */

.product {
  margin: 100px;
  margin-left: 10%;
  text-align: center;
  position: center;
}

.Button4:hover{
  background: #ffffff;
  color: black;
  border: solid #900C3F 0.125em;
}

.Button4{
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #900c3f;
  color: #ffffff;
  padding: 1.250em;
  width: 45%;
  font-weight: bold;
  border: solid #ffffff 0.125em;
  border-radius: 0.625em;
  display: inline-block;
  margin-top:1.250em;
}

/* BLOG =================================*/

.blog {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 30%;
}

.blog > h1{
  text-transform: uppercase;
}

.blog >p{
  float:left;
}

.author {
  font-family: playfair display;
}

.blog> img{
  float: left;
  clear:both;
  display:block;
}


/** RESPONSIVE STYLES ===================**/


@media (min-width: 600px) and (max-width: 1023px) {

/** BANNER **/

  .Banner {
    clear:both;
    width: 96%;
    margin: 0 2%;
  }

  .Banner-blurb {
    clear:both;
    width: 100%;
  }

  .Banner .Boundary {
    height: auto;
    clear: both;
  }

  .product {
  margin-top: 100px;
  text-align: center;
  position: center;
}


/** TOPICS **/

  .Topic {
    clear:both;
    width: 96%;
    margin: 0 2%;
  }

  .Topic .first {
    float:left;
    width: 50%;
  }

  .Topic .SeeAll {
    float:right;
    width: 50%;
  }

  .container {
    width: 96%;
    margin: 0 2%;
  }

  .col4 {
    clear: both;
    padding: 20px 0;
    border-bottom: 1px solid #CCC;
  }
  .col4:after {
    content: "";
    clear: both;
    width: 100%;
  }

  .image {
    float: left;
    width: 40%;
  }

  .copy {
    float: right;
    width: 56%;
  }


/* SUBSCRIBE  ================================================================ */

.Banner2 {
  clear:both;
  width: 96%;
  margin: 0 2%;
  text-align: center;
}

.menu2{
  display: none;
}

/* ABOUT ME */

.aboutme {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 10%;
}

.blog {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 8%;
}

}

@media (max-width: 599px) {
  
/* LOGO */

.logo{
  float: left;
}

/*MAIN NAV*/

.MainNav {
  display: none;
}

/** SIDEBAR========*/
  
.menu-wrap {
    background-color: #900c3f;
    color:#ffffff;
    text-transform: uppercase;
    list-style: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    transform: translateX(-108%);
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}

ul.menu2 {
  list-style: none;
}

.menu2 > li > a {
  color: #ffffff;
}

.Menu-wrap ul li a{
  text-transform: uppercase;
  color: #ffffff;
}

.menu-show {
    margin-top:60px;
    list-style: none;
    margin-left: 0;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
    transform: translateX(-6%);
}

.menu2-show{
  display: block;
}

.Site {
    transition: margin-right .5s;
    padding: 20px;
}

/* HAMBURGER=======*/

.hamburger-icon{
  width: 2.5rem;
  float: right;
  margin-top: 10px;
  margin-right:10px;
}

.line{
  width: 2.5rem;
  height: .3125rem;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  border-radius: 2.5rem;
  margin-bottom: .52em;
  opacity: 1;
  /* 1. Set the transition property on the .line class */
  transition: all 1s ease;
}

/* Second line */
.active .line:nth-child(2) {
  /* 2. When the active class is added to the .hamburger-icon, fade the middle line out (hint: you can use the 'opacity' property). */
  opacity: 0;
 }

/* Top line */
.active .line:first-child {
  transform: rotate(45deg);
  transform-origin: 0 0;
}

/* Bottom line */
.active .line:last-child {
  transform: rotate(-45deg);
  transform-origin: 0 5px;
}

/** BANNER **/

  .Banner {
    clear:both;
    width: 96%;
    margin: 0 2%;
    height:auto;
  }

  .Banner-blurb {
    clear:both;
    width: 100%;
  }

  .Banner .Boundary {
    height: auto;
    clear: both;
  }

  .button{
    background-color:#900c3f;
  }

/** TOPICS **/

  .Topic {
    clear:both;
    width: 96%;
    margin: 0 2%;
  }

  .Topic .first{
    float: left;
  }

  .Topic .SeeAll{
    float: left;
    clear: both;
  }

  .container {
    width: 96%;
    margin: 0 2%;
  }

  .col4 {
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
  }

  .image, .copy {
    text-align: center;
  }


/* SUBSCRIBE  ================================================================ */

.Banner2 {
  clear:both;
  width: 96%;
  margin: 0 2%;
  text-align: center;
}

#form1 {
  width: 96%;
}

button {
  height: auto;
  width: 500px;
}

/* ABOUT ME */

.aboutme {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 8%;
}

/* BLOG */

.blog {
  margin-top:80px;
  margin-bottom: 80px;
  margin-left: 8%;
  margin-right: 8%;
}

/* PRODUCT*/

.product {
  margin: 100px 10px 10px 0;
  text-align: center;
  position: center;
}

}

@media (max-width: 420px) {

.Banner-blurb{
  width: 100%;
  text-align: center;
height:auto;
  display: inline-block;
  vertical-align: top;
}



}

